@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-primary: #69d392;
  --color-secondary: #ffc0cb;
  --color-heading: #2d3436;
  --color-muted: #636e72;
  
  --radius: 12px;
}

.dark {
  --color-background: #0f172a;
  --color-primary: #0f6cf2;
  --color-secondary: #ff8bb0;
  --color-heading: #f0f0f0;
  --color-muted: #93A2B7;
}

body {
  background-color: var(--color-background);
  color: var(--color-heading);
  font-family: "Host Grotesk", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}